@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;1,500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@800&display=swap");

.main h1 {
    margin-top: 120px;
    font-size: 40px;
    text-align: center;
    font-family: "Russo One", sans-serif;
}
.main h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}
.main p {
    margin-left: 0;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.4em;
}
.main_visual {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100vh;
}
.main_visual:before {
    content: "";
    overflow: hidden;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-size: cover;
    transform-origin: center;
    background: url("../img/main-visual.jpg") no-repeat top center;
}
.main_visual h1 {
    position: fixed;
    overflow: hidden;
    display: flex;
    z-index: 7;
    top: 35%;
    padding: 50px 40px;
    letter-spacing: 35px;
    text-align: center;
    font-size: 90px;
    font-family: "Russo One", "Noto Serif JP", sans-serif;
    font-weight: 900;
    color: #fef4f4;
    text-shadow: 0 0 3px #2e2930, 0 0 6px #fef4f4;
}
@media screen and ( max-width:1366px ) {
    .main_visual h1 {
        position: fixed;
        overflow: hidden;
        display: flex;
        z-index: 7;
        top: 30%;
        left: 5%;
        padding: 50px 40px;
        letter-spacing: 35px;
        text-align: center;
        font-size: 70px;
        font-family: "Russo One", "Noto Serif JP", sans-serif;
        font-weight: 900;
        color: #fef4f4;
        text-shadow: 0 0 3px #2e2930, 0 0 6px #fef4f4;
    }
}
.main_visual h1 span {
    z-index: 7;
    animation-name: lePeek;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes lePeek {
    10% {
        transform: rotateX(30deg) translateY(10px) rotate(-13deg);
    }
    50% {
        transform: translateY(-16px) rotate(3deg) scale(1.1);
    }
    70% {
        transform: translateY(-22px) rotate(5deg) scale(1.2);
    }
}
.scrolldown{
    position: absolute;
    bottom: 30px;
    left: 50%;
}
.scrolldown span{
    position: absolute;
    left: 8px;
    bottom: 10px;
    color: #fef4f4;
    font-size: 12px;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#fef4f4;
    animation: circlemove 1.9s ease-in-out infinite, cirlemovehide 1.8s ease-out infinite;
}
@keyframes circlemove{
    0% {
        bottom:45px;
    }
    100% {
        bottom:-5px;
    }
}
@keyframes cirlemovehide{
    0% {
        opacity:0
    }
    50% {
        opacity:1;
    }
    80% {
        opacity:0.9;
    }
    100% {
        opacity:0;
    }
 }
.scrolldown:after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width:2px;
    height: 50px;
    background:#fef4f4;
}

.goal {
    font-family: "Noto Serif JP", sans-serif;
}
.main-grid {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    margin-bottom: 90px;
}
.item {
    padding: 30px;
    text-align: center;
    color: #2b2b2b;
    box-shadow: 0 0 2px 1px #dcdddd;
}
.item a {
    text-decoration: none;
    color: #2b2b2b;
}
.item a:hover {
    opacity: 75%;
    transform: scale(1.02);
    transition: all .3s;
}
.item h2 {
    padding: 90px 10px;
    font-size: 33px;
    color: #e5e4e6;
    text-shadow: 0px 0px 4px #393e4f, 0 0 8px #0f2350;
    font-family: "Russo One", sans-serif;
}
.item hr {
    margin-bottom: 15px;
    color: #2b2b2b;
    height: .3px;
}
.item p {
    font-size: 20px;
}
.item-img {
    object-position: 50% 100%;
    object-fit: cover;
}
.item-img-01-01 {
    background-image: url("../img/春日大社.jpg");
}
.item-img-01-02 {
    background-image: url("../img/興福寺.jpg");
}
.item-img-01-03 {
    background-image: url("../img/浮雲園地.jpg");
}
.item-img-01-04 {
    background-image: url("../img/奈良国立博物館.jpg");
}
.item-img-01-05 {
    background-image: url("../img/若草山.jpg");
}
.item-img-01-06 {
    background-image: url("../img/正倉院.jpg");
}

.item-img-02-01 {
    background-image: url("../img/渡月橋.jpg");
}
.item-img-02-02 {
    background-image: url("../img/竹林の小径.jpg");
}
.item-img-02-03 {
    background-image: url("../img/天龍寺.jpg");
}
.item-img-02-04 {
    background-image: url("../img/嵯峨野トロッコ列車.jpg");
}
.item-img-02-05 {
    background-image: url("../img/保津川下り.jpg");
}
.item-img-02-06 {
    background-image: url("../img/キモノフォレスト.jpg");
}

.item-img-03-01 {
    background-image: url("../img/生駒山上遊園地.jpg");
}
.item-img-03-02 {
    background-image: url("../img/暗峠.jpg");
}
.item-img-03-03 {
    background-image: url("../img/生駒山麓公園.jpg");
}
.item-img-03-04 {
    background-image: url("../img/hygge.jpg");
}
.item-img-03-05 {
    background-image: url("../img/信貴生駒スカイライン.jpg");
}

.item-img-04-01 {
    background-image: url("../img/京都駅 駅ビル.jpg");
}
.item-img-04-02 {
    background-image: url("../img/京都タワー.jpg");
}
.item-img-04-03 {
    background-image: url("../img/京都水族館.jpg");
}
.item-img-04-04 {
    background-image: url("../img/西本願寺.jpg");
}
.item-img-04-05 {
    background-image: url("../img/東寺.jpg");
}
.item-img-04-06 {
    background-image: url("../img/東福寺.jpg");
}
.item-img-04-07 {
    background-image: url("../img/清水寺.jpg");
}

.item-img-05-01 {
    background-image: url("../img/茶寮都路里 京都伊勢丹店.jpg");
}
.item-img-05-02 {
    background-image: url("../img/中村藤吉本店 京都駅店.jpg");
}
.item-img-05-03 {
    background-image: url("../img/タリーズコーヒー 京都アバンティ店.jpg");
}

.item-img-06-01 {
    background-image: url("../img/貴船神社.jpg");
}
.item-img-06-02 {
    background-image: url("../img/おはりばこ.jpg");
}
.item-img-06-03 {
    background-image: url("../img/上賀茂神社.jpg");
}
.item-img-06-04 {
    background-image: url("../img/瑠璃光院.jpg");
}
.item-img-06-05 {
    background-image: url("../img/比叡山延暦寺.jpg");
}

.item-img-07-01 {
    background-image: url("../img/生八ツ橋「夕子」.jpg");
}
.item-img-07-02 {
    background-image: url("../img/出町ふたば「名代豆餅」.jpg");
}
.item-img-07-03 {
    background-image: url("../img/鶴屋吉信「柚餅」.jpg");
}
.item-img-07-04 {
    background-image: url("../img/小倉山荘「あられづつみ」.jpg");
}
.item-img-07-05 {
    background-image: url("../img/塩芳軒「雪まろげ」.jpg");
}
.item-img-07-06 {
    background-image: url("../img/伊藤久右衛門 「宇治抹茶だいふく」.jpg");
}

.item-img-08-01 {
    background-image: url("../img/お濃茶ラングドシャ「茶の菓」.jpg");
}
.item-img-08-02 {
    background-image: url("../img/Crochet「京あめ」シリーズ.jpg");
}
.item-img-08-03 {
    background-image: url("../img/ガラムマサラ 「マサラピー」.jpg");
}
.item-img-08-04 {
    background-image: url("../img/京都かめよし「ポップコーン」.jpg");
}
.item-img-08-05 {
    background-image: url("../img/衹園辻利「つじりの里」.jpg");
}