@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.main {
    margin-top: -50px;
    margin-bottom: -50px;
}
canvas {
	object-fit: contain;
	width: 100%;
	display: block;
}