@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
    margin: 0;
    padding: 0;
    cursor: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #16160e;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.float_clear {
    clear: both;
}
#cursor{
    z-index: 12;
    position: fixed;
    margin: -10px -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #16160e;
    pointer-events: none;
    transition: transform .2s;
}
#stalker{
    z-index: 11;
    position: fixed;
    margin: -22px -22px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 2px #afafb0;
    pointer-events: none;
    transition: transform .4s;
}
#cursor.active, #stalker.active{
    transform: scale(1.3);
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 90px;
    font-family: "Noto Serif JP", serif;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 3px #9ea1a3;
}
.header_container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.header_left {
    float: left;
}
.header_right {
    float: right;
    display: flex;
}
.header_left a {
    margin-right: 55px;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 90px;
    font-size: 40px;
    color: #fef4f4;
    text-shadow: 0 0 12px #2e2930;
}
.header_left a span{
    letter-spacing: 0;
    display: inline-block;
    position: relative;
    width: 32px;
}
.header_left a:hover {
    opacity: 85%;
    font-size: 43px;
    font-weight: 600;
    transition: all .2s;
}
.header_left a:hover span:nth-of-type(1){
    animation: wave .4s;
}
.header_left a:hover span:nth-of-type(2){
    animation: wave .6s;
}
.header_left a:hover span:nth-of-type(3){
    animation: wave .5s;
}
.header_left a:hover span:nth-of-type(4){
    animation: wave .9s;
}
.header_left a:hover span:nth-of-type(5){
    animation: wave .4s;
}
.header_left a:hover span:nth-of-type(6){
    animation: wave .7s;
}
.header_left a:hover span:nth-of-type(7){
    animation: wave .8s;
}
.header_left a:hover span:nth-of-type(8){
    animation: wave .2s;
}
.header_left a:hover span:nth-of-type(9){
    animation: wave .3s;
}
.header_right ul {
    display: flex;
    line-height: 90px;
    justify-content: center;
    align-items: center;
}
.header_right ul li {
    list-style: none;
}
.header_right ul li a {
    position: relative;
    display: inline-block;
    margin-left: 35px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #fef4f4;
    font-weight: bold;
    text-shadow: 0 0 5px #2e2930;
    letter-spacing: 1px;
}
.header_right ul li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #2b2b2b;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .2s;
}
.header_right ul li a:hover::after {
    transform: scale(1, 1);
}
.header_right ul li a:hover {
    opacity: 75%;
    color: #2b2b2b;
    font-weight: 0;
    text-shadow: 0 0 5px #2e2930, 0 0 4px #4c6cb3;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all .3s;
}
@keyframes wave {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(7px, -5px, 0);
    }
    50% {
        transform: translate3d(14px, -10px, 15px);
    }
    75% {
        transform: translate3d(7px, -5px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.lang_ch {
    line-height: 90px;
    margin-left: 25px;
}
.lang_selecter {
    padding: 5px 12px;
    background-color: transparent;
    border: 1px solid #ebf6f7;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-family: "Koulen", cursive, "Sawarabi Mincho", serif, "FontAwesome";
    color: #2b2b2b;
    text-shadow: 0 0 4px #f3f3f2, 0 0 2px #2b2b2b;
    box-shadow: 0px 0px 2px #2b2b2b;
}
.lang_selecter:hover {
    border: 1px solid #84a2d4;
    color: #274a78;
    transition: all .2s;
}
.lang_selecter:focus {
    box-shadow: 0px 0px 2px 1px #abced8, 0px 0px 2px 2px #abced8 inset;
    text-shadow: 0 0 3px #ec6d71;
    color: #a22041;
    transition: all .2s;
}

.main_top {
    background: url("./img/main-visual.jpg") no-repeat top center;
}
.main_top_text {
    padding: 140px;
    text-align: center;
    font-family: "Noto Serif JP", serif;
    font-size: 70px;
    font-weight: 900;
    color: #fef4f4;
    text-shadow: 0 0 3px #2e2930, 0 0 6px #fef4f4;
}

.main {
    z-index: 8;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fbfaf5;
    font-family: "Kosugi", sans-serif;
}
.main h1 {
    margin-top: 120px;
    font-size: 40px;
    text-align: left;
    font-family: "Sawarabi Mincho", serif;
}
.bgextend{
    position: relative;
	overflow: hidden;
	animation-name: bgextendAnimeBase;
	animation-duration: 1s;
	animation-fill-mode:forwards;
	opacity: 0;
}
@keyframes bgextendAnimeBase{
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}
.bgappear{
    padding: 10px 30px;
	animation-name: bgextendAnimeSecond;
	animation-duration: 1s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
    }
}
.bgLRextend::before{
	animation-name: bgLRextendAnime;
	animation-duration: 1s;
	animation-fill-mode: forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2e2930;
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin: left;
		transform: scaleX(0);
	}
	50% {
		transform-origin: left;
		transform: scaleX(1);
	}
	50.001% {
		transform-origin: right;
	}
	100% {
		transform-origin: right;
		transform: scaleX(0);
	}
}
.bgappearTrigger, .bgLRextendTrigger{
    opacity: 0;
}
.main h2 {
    margin: 50px 0 25px 30px;
    font-size: 30px;
    text-align: left;
}
.TextTyping span {
    display: none;
}
.TextTyping::after {
    content: "|";
    animation: typinganime 1.0s ease infinite;
}
@keyframes typinganime{
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
.main h3 {
    margin: 20px 25px;
    font-size: 22px;
}
.main h3:before {
    font-family: 'Font Awesome 5 Free';
    margin: 0 0.4em;
    content: '\f101';
}
.main p {
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 1.4em;
}

#page-top a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #698aab;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fbfaf5;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s;
  }
#page-top a:hover{
    background: #2a83a2;
}
#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9;
    opacity: 0;
    transform: translateY(100px);
}
#page-top.UpMove{
    animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#page-top.DownMove{
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

.footer {
    z-index: 10;
    height: 400px;
    background-color: #2b2b2b;
}
.footer .menu-left, .menu-center, .menu-right {
    display: inline-block;
    width: 20%;
    margin: 40px auto;
}
.footer ul {
    list-style: none;
    padding: 20px;
    line-height: 50px;
}
.footer {
    background-color: #333;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #fbfaf5;
    text-align: center;
}
.footer h3 {
    padding: 8px;
    font-size: 20px;
    color: #c0a2c7;
    text-shadow: 1px 2px 4px #888084;
    border-bottom: 2px solid #44617b;
}
.footer a {
    padding: 8px 120px;
    text-decoration: none;
    font-size: 16px;
    color: #fbfaf5;
}
.footer a:hover {
    color: #e6cde3;
    font-size: 17px;
    opacity: 75%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all .3s;
}
.footer .copyright {
    margin: 0 auto;
    display: block;
    padding: 20px;
    border-top: 1px solid #949495;
    width: 65%;
    font-size: 15px;
    color: #949495;
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 1.3s;
}
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}