@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #16160e;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 2px #dcdddd;
    z-index: 9;
}
.header h1 {
    font-size: 35px;
    color: #ffffff;
    text-shadow: 0 0 4px #595857;
    margin-left: 15px;
    line-height: 80px;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #bbc8e6;
    border-radius: 3px;
}
.menu-btn span, .menu-btn span:before, .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 8px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #bbc8e6;
    text-align: center;
    transition: all 0.7s;
}
.menu-content ul {
    padding-top: 200px;
}
.menu-content ul li {
    list-style: none;
    padding: 10px;
}
.menu-content ul li a {
    position: relative;
    font-family: 'Sawarabi Mincho', serif;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color:#ffffff;
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;
}
.menu-content ul li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #2b2b2b;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .2s;
}
.menu-content ul li a:hover::after {
    transform: scale(1, 1);
}
.menu-content ul li a:hover {
    opacity: 75%;
    color: #2b2b2b;
    transition: all .3s;
}

.container {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
}
.body {
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 80px;
    color: #2b2b2b;
}
.body h1 {
    margin-top: 120px;
    font-size: 40px;
    text-align: center;
}
.body h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.footer {
    bottom: 0;
    height: 180px;
    background-color: #2b2b2b;
}
.footer-text {
    padding-top: 40px;
    font-family: 'Noto Sans JP', sans-serif;
}
.footer h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 2px #9fa0a0;
    font-size: 40px;
}
.footer p {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    font-size: 15px;
}

#page-top a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #698aab;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s;
  }
#page-top a:hover{
    background: #2a83a2;
}
#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    opacity: 0;
    transform: translateY(100px);
}
#page-top.UpMove{
    animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
}
#page-top.DownMove{
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 1.3s;
}
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}