@media screen and ( max-width:1366px ) {
    /* common.css */
    .header_left a {
        margin-right: 15px;
        text-decoration: none;
        letter-spacing: 0;
        line-height: 90px;
        font-size: 30px;
        color: #fef4f4;
        text-shadow: 0 0 12px #2e2930;
    }
    .header_right > ul li a {
        position: relative;
        display: inline-block;
        margin-left: 15px;
        padding: 0 10px;
        text-decoration: none;
        font-size: 18px;
        color: #fef4f4;
        font-weight: bold;
        text-shadow: 0 0 5px #2e2930;
        letter-spacing: 1px;
    }
    .lang_selecter {
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid #ebf6f7;
        font-size: 18px;
        letter-spacing: 0.1em;
        font-family: "Koulen", cursive, "Sawarabi Mincho", serif, "FontAwesome";
        color: #2b2b2b;
        text-shadow: 0 0 4px #f3f3f2, 0 0 2px #2b2b2b;
        box-shadow: 0px 0px 2px #2b2b2b;
    }
    .main h1 {
        margin-top: 120px;
        font-size: 35px;
        font-family: "Sawarabi Mincho", serif;
    }
    .main h2 {
        margin: 50px 0 25px 30px;
        font-size: 25px;
    }
    .main h3 {
        margin: 20px 25px;
        font-size: 20px;
    }
    .main h3:before {
        font-family: 'Font Awesome 5 Free';
        margin: 0 0.4em;
        content: '\f101';
    }
    .main p {
        font-size: 15px;
        letter-spacing: 0.2em;
        line-height: 1.4em;
    }
    .footer ul {
        list-style: none;
        padding: 20px;
        line-height: 45px;
    }
    .footer a {
        padding: 8px 60px;
        text-decoration: none;
        font-size: 14px;
        color: #fbfaf5;
    }
    .footer a:hover {
        color: #e6cde3;
        font-size: 15px;
        opacity: 75%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all .3s;
    }

    /* index.css */
    .main_visual h1 {
        display: flex;
        z-index: 7;
        top: 25%;
        left: 10%;
        padding: 35px 20px;
        letter-spacing: 35px;
        text-align: center;
        font-size: 65px;
        font-weight: 900;
    }
    .main-grid {
        gap: 60px;
        grid-template-columns: repeat(2, minmax(200px, 800px));
        margin-bottom: 90px;
    }
    .item h2 {
        padding: 90px 10px;
        font-size: 36px;
    }
    .item p {
        font-size: 18px;
    }

    /* rule.css */

    /* map.css */

    /* update.css */

    /* schedule.css */

    /* faq.css */
}
@media screen and ( max-width: 950px ) {
    .header_left a {
        text-decoration: none;
        line-height: 90px;
        font-size: 35px;
        color: #fef4f4;
        text-shadow: 0 0 12px #2e2930;
    }
    .menu-btn {
        display: flex;
    }
    .header_right > ul li a {
        display: none;
    }
    .lang_selecter {
        margin-right: 45px;
        padding: 2px 5px;
        background-color: transparent;
        border: 1px solid #ebf6f7;
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}
@media screen and ( max-width:768px ) {
    /* common.css */
    .lang_ch {
        text-align: right;
        margin-right: -55px;
    }
    .header_left a {
        text-decoration: none;
        line-height: 90px;
        font-size: 30px;
        color: #fef4f4;
        text-shadow: 0 0 12px #2e2930;
    }
    .menu-btn {
        display: flex;
    }
    .header_right > ul li a {
        display: none;
    }
    .lang_selecter {
        padding: 2px 5px;
        background-color: transparent;
        border: 1px solid #ebf6f7;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    .footer a {
        padding: 8px 30px;
        text-decoration: none;
        font-size: 12px;
        color: #fbfaf5;
    }
    .footer h3 {
        padding: 8px;
        font-size: 15px;
    }
    .main h1 {
        margin-top: 120px;
        font-size: 28px;
        font-family: "Sawarabi Mincho", serif;
    }
    .main h2 {
        margin: 50px 0 25px 30px;
        font-size: 18px;
    }
    .main h3 {
        margin: 20px 25px;
        font-size: 13px;
    }
    .main p {
        font-size: 10px;
        letter-spacing: 0.2em;
        line-height: 1.4em;
    }
    .main_top_text {
        padding: 160px 60px;
        text-align: center;
        font-size: 45px;
    }
    .footer {
        height: 650px;
    }
    .footer .menu-left, .menu-center, .menu-right {
        display: inline-block;
        width: 60%;
        margin: 10px;
    }
    .footer a {
        padding: 5px 80px;
        text-decoration: none;
        font-size: 10px;
        color: #fbfaf5;
    }
    .footer ul {
        line-height: 45px;
    }
    .footer h3 {
        font-size: 15px;
    }
    .footer .copyright {
        display: inline-block;
        text-align: center;
        width: 55%;
        font-size: 15px;
    }

    /* index.css */
    .main_visual h1 {
        display: flex;
        z-index: 7;
        top: 15%;
        left: 15%;
        padding: 35px 20px;
        letter-spacing: 18px;
        text-align: center;
        font-size: 35px;
        font-weight: 900;
    }
    .main-grid {
        text-align: center;
        gap: 45px;
        grid-template-columns: repeat(2, minmax(50px, 800px));
        margin-bottom: 90px;
    }
    .item h2 {
        padding: 80px 20px;
        font-size: 18px;
    }
    .item p {
        font-size: 16px;
    }

    /* rule.css */

    /* map.css */

    /* update.css */

    /* schedule.css */

    /* faq.css */
}
@media screen and ( max-width:480px ) {
    /* common.css */
    .lang_ch {
        text-align: right;
        margin-right: -45px;
    }
    .header_left a {
        text-decoration: none;
        line-height: 90px;
        letter-spacing: -10px;
        font-size: 25px;
        color: #fef4f4;
        text-shadow: 0 0 12px #2e2930;
    }
    .menu-btn {
        display: flex;
    }
    .header_right > ul li a {
        display: none;
    }
    .lang_selecter {
        padding: 2px 5px;
        background-color: transparent;
        border: 1px solid #ebf6f7;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    .footer {
        height: 800px;
    }
    .footer .menu-left, .menu-center, .menu-right {
        display: inline-block;
        width: 60%;
        margin: 10px;
    }
    .footer a {
        padding: 5px 80px;
        text-decoration: none;
        font-size: 10px;
        color: #fbfaf5;
    }
    .footer ul {
        line-height: 45px;
    }
    .footer h3 {
        font-size: 15px;
    }
    .footer .copyright {
        display: inline-block;
        text-align: center;
        width: 55%;
        font-size: 15px;
    }
    .main h1 {
        margin-top: 120px;
        font-size: 22px;
        font-family: "Sawarabi Mincho", serif;
    }
    .main h2 {
        margin: 50px 0 25px 30px;
        font-size: 18px;
    }
    .main h3 {
        margin: 20px 5px;
        font-size: 13px;
    }
    .main p {
        font-size: 10px;
        letter-spacing: 0.2em;
        line-height: 1.4em;
    }
    .main_top_text {
        padding: 160px 60px;
        text-align: center;
        font-size: 30px;
    }

    /* index.css */
    .main_visual h1 {
        display: flex;
        z-index: 7;
        top: 15%;
        left: 8%;
        padding: 35px 20px;
        letter-spacing: 6px;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    .main-grid {
        text-align: center;
        grid-template-columns: repeat(1, minmax(50px, 800px));
        margin-bottom: 90px;
    }
    .item h2 {
        padding: 80px 20px;
        font-size: 20px;
    }
    .item p {
        font-size: 10px;
    }

    /* rule.css */

    /* map.css */

    /* update.css */
    .update_item {
        margin: 30px;
        padding: 20px 25px;
        border-top: 2px solid #513743;
        border-bottom: 2px solid #513743;
    }
    .update_item p {
        text-align: center;
        font-size: 8px;
        margin-left: 0;
    }
    .update_item .date {
        font-size: 5px;
        text-align: right;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: auto;
    }

    /* schedule.css */

    /* faq.css */
    .cp_qa label {
        font-size: 18px;
        padding: 10px 10px 0 48px;
    }
    .cp_qa .cp_actab-content {
        font-size: 13px;
        margin: 0 40px;
        padding: 0 14px;
    }
}