.update {
    margin-top: 80px;
}
.update-item {
    padding: 30px 5px;
    margin-top: 60px;
    border-top: 2px solid #513743;
    border-bottom: 2px solid #513743;
}
.update-item h3 {
    font-size: 35px;
    margin-left: 1.1em;
}
.update-item p {
    text-align: center;
    font-size: 20px;
}
.update-item .date {
    font-size: 15px;
    text-align: right;
    margin-right: 20px;
    margin-left: auto;
}
a {
    color: #4d5aaf;
    text-decoration: none;
}
a:hover {
    color: #674598;
    opacity: 65%;
    transition: all .2s;
}